.pointer {
    cursor: pointer;
}
.banner-img {
    width: 100%;
    height: 584px;
    object-fit: cover;
    transition: all .25s ease-in-out;
}
.banner-img:hover {
    object-fit: cover;
    box-shadow: 0 18px 32px -18px #000;
    transform: translateY(-6px);
}

.popular-img {
    width: 217px;
    height: 145px;
    object-fit: cover;
    transition: all .25s ease-in-out;
}

.popular-img:hover {
    box-shadow: 0 18px 32px -18px #000;
    transform: translateY(-6px);
}

body a {
    text-decoration: none;
    color: black;
}

.comments {
    border-radius: 50px;
}
.border-radius {
    border-radius: 20px;
}
.comment-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}
.fa-trash:hover {
    color: red;
    cursor: pointer;
}
.fa-thumbs-up:hover {
    color: blue;
    cursor: pointer;
}
.fa-thumbs-down:hover {
    color: gray;
    cursor: pointer;
}
.opacity {
    opacity: 0.5;
}
.max-witdh-150 {
    max-width: 150px;
}
.search {
    margin-bottom: 0;
}
.fa-ellipsis-vertical {
    font-size: 20px;
    margin: 10px 15px;
    display: flex;
    align-self: center;
}
.border-red {
    border: solid 1px red;
}